# Dependencies
node_modules/
.pnp
.pnp.js

# Build outputs
.next/
out/
build/
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Misc
.DS_Store
.env*.local
.env
*.log

# IDE
.vscode/
.idea/
*.swp
*.swo

# Testing
coverage/

# Local
*.tsbuildinfo
